{% extends 'posts/base.html' %}
{% load static %}

{% block content %}
<section class="home-section home-fade home-full-height" id="home ">
    <div class="hero-slider">
      <ul class="slides">
        <li class="bg-dark-60 bg-dark" style="background-image:url({% static 'images/analogue-blur-business.jpg' %})">
          <div class="titan-caption">
            <div class="caption-content">
              <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>
              <div class="font-alt mb-40 titan-title-size-4">We Are GBS</div><a class="section-scroll btn btn-border-w btn-round" href="#">Get In Touch</a>
            </div>
          </div>
        </li>
        <li class="bg-dark-30 bg-dark" style="background-image:url({% static 'images/code1.jpg' %})">
          <div class="titan-caption">
            <div class="caption-content">
              <div class="font-alt mb-30 titan-title-size-2">The BL Project is a data solutions and application development platform for <br/>innovative businesses. 
              </div><a class="btn btn-border-w btn-round" href="{% url 'posts:coming' %}">Learn more about our applications</a>
            </div>
          </div>
        </li>
        <li class="bg-dark-30 bg-dark" style="background-image:url({% static 'images/plain.jpg' %})">
          <div class="titan-caption">
            <div class="caption-content">
              <div class="font-alt mb-30 titan-title-size-1">We simplify bussiness making solutions</div>
              <div class="font-alt mb-40 titan-title-size-3">We're amazing and so are you</div><a class="section-scroll btn btn-border-w btn-round" href="#">Hire A Consultant</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </section>
          <section class="container">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="font-serif">We are a data and web solutions company that creates enterprise web applications, imaginative designs and provide effective data solutions ranging from gathering, analysis, visualization to security.</h3><br/>
              </div>
              <div class="col-sm-6">
                <h6 class="font-serif"><span class="icon-tools-2"></span> App Development
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-serif"><span class="icon-strategy"></span> Graphic Design
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-serif"><span class="icon-target"></span> SEM
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-serif"><span class="icon-camera"></span> Data Solutions
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider-w">
        <section class="module" id="team">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Meet Our Team</h2>
                <div class="module-subtitle font-serif">Every Individual is dedicated to team-work, originality, quality and functionality.</div>
              </div>
            </div>
            <div class="row">
              <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                <div class="team-item">
                  <div class="team-image"><img src="{% static 'images/sandiego3.jpg' %}" alt="Member Photo"/>
                    <div class="team-detail">
                      <h5 class="font-alt">Hi all</h5>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-name">Lawrence Mainja</div>
                    <div class="team-role">Developer, Writer and Founder</div>
                  </div>
                </div>
              </div>
              <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                <div class="team-item">
                  <div class="team-image"><img src="{% static 'images/about_bg.jpg' %}" alt="Member Photo"/>
                    <div class="team-detail">
                      <h5 class="font-alt">Good day</h5>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-name">Arturo Bandini</div>
                    <div class="team-role">Software Developer</div>
                  </div>
                </div>
              </div>
              <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                <div class="team-item">
                  <div class="team-image"><img src="{% static 'images/profile1.jpg' %}" alt="Member Photo"/>
                    <div class="team-detail">
                      <h5 class="font-alt">Hello</h5>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-name">CMA</div>
                    <div class="team-role">Graphic Designer</div>
                  </div>
                </div>
              </div>
              <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                <div class="team-item">
                  <div class="team-image"><img src="{% static 'images/mopane2.jpg' %}" alt="Member Photo"/>
                    <div class="team-detail">
                      <h5 class="font-alt">Yes, it's me</h5>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-name">Jefferson Haapo</div>
                    <div class="team-role">Developer</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module bg-dark-60" data-background="#image">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Analytics</h2>
                <div class="module-subtitle font-serif"></div>
              </div>
            </div>
            <div class="row multi-columns-row">
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-wallet"></span></div>
                  <h3 class="count-to font-alt" data-countto="6"></h3>
                  <h5 class="count-title font-serif">ELK Stack</h5>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-wine"></span></div>
                  <h3 class="count-to font-alt" data-countto="4"></h3>
                  <h5 class="count-title font-serif">Web Apps</h5>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-camera"></span></div>
                  <h3 class="count-to font-alt" data-countto="30"></h3>
                  <h5 class="count-title font-serif">Data Security</h5>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-map-pin"></span></div>
                  <h3 class="count-to font-alt" data-countto="5"></h3>
                  <h5 class="count-title font-serif">All Things Python</h5>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module" id="services">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Our Advantages</h2>
                <div class="module-subtitle font-serif"></div>
              </div>
            </div>
            <div class="row multi-columns-row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-lightbulb"></span></div>
                  <h3 class="features-title font-alt">Innovations</h3>
                  <h5>Attention to detail and simplified code ensures an enhanced and productive user experience. We work as a team towards originality and functionality. </h5>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-bike"></span></div>
                  <h3 class="features-title font-alt">Horizontal Integration</h3>
                  <h5>The ELK stack provides a platform for horizontal integration. Dealing with Big Data is no longer a problem.</h5>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-tools"></span></div>
                  <h3 class="features-title font-alt">Logging and Security</h3>
                  <h5>Log analysis done well can enhance system performance and aid in detecting security breaches.</h5>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-gears"></span></div>
                  <h3 class="features-title font-alt">All Things Django</h3>
                  <h5>They call Django a web framework for people with deadlines for a reason. Once you go Django you will never get back.</h5>
                </div>
              </div>
            </div>
          </div>
        </section>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    {% endblock content %}
   