{% load static %}
<!DOCTYPE html>
<html>
	<head><link rel="stylesheet" href="{% static 'normalize.css' %}">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GBS Glass</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Quicksand" rel="stylesheet">
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <!-- <link rel="stylesheet" href="styles/debug.css"> -->
	
    <!-- Default stylesheets-->
    {% block css %}
    <link href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fahkwang|Poppins" rel="stylesheet">
    <link href="{% static 'lib/animate.css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'lib/components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
   
    <link href="{% static 'lib/flexslider/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'lib/simple-text-rotator/simpletextrotator.css' %}" rel="stylesheet">
    <!-- Main stylesheet and color file-->
	
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link id="color-scheme" href="{% static 'css/colors/default.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/helpers.css' %}">
    {% endblock %}
    
<!-- .hero-head -->
<nav class="hero-head">
	<div class="columns is-mobile is-marginless heading has-text-weight-bold">
		<div class="column left">
			<figure class="navbar-item image">
				<img src="{% static 'images/mypost3.png' %}" style="width: 6.25rem; height: 1rem;">
			</figure>
		</div>
		<div class="column center desktop">
      <ul class="navbar-item has-text-black"><a href ="{% url 'posts:home' %}">Home</a>
      <ul class="navbar-item has-text-black"><a href ="{% url 'posts:services' %}">Services</a>
      <ul class="navbar-item has-text-black"><a href ="{% url 'posts:about' %}">About BLP</a> 
		</div>
		<div class="column right">
      <ul class="navbar-item has-text-black desktop"><a href ="{% url 'posts:careers' %}">Get In Touch</a>

			<figure class="navbar-item image has-text-black center">
				<i class="fas fa-bars" style="width: 1rem; height: 1rem;"></i>
			</figure>
		</div>
    </div>
	</div>
</nav>
<!-- /.hero-head -->

</section>
{% block content %}

{% endblock %}
			  <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2019&nbsp;<a href="{% url 'posts:about' %}">TheBLProject</a>, All Rights Reserved</p>
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
      <!--  
    JavaScripts
    =============================================
    -->
    {% block JavaScripts %}
    <script src="{% static 'lib/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/wow/dist/wow.js' %}"></script>
    <script src="{% static 'lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
    <script src="{% static 'lib/isotope/dist/isotope.pkgd.js' %}"></script>
    <script src="{% static 'lib/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'lib/flexslider/jquery.flexslider.js' %}"></script>
    <script src="{% static 'lib/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/smoothscroll.js' %}"></script>
    <script src="{% static 'lib/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'lib/simple-text-rotator/jquery.simple-text-rotator.min.js' %}"></script>
    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK2Axt8xiFYMBMDwwG1XzBQvEbYpzCvFU"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}

	</body>
</html>