{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
<section class="home-section home-parallax home-fade home-full-height" id="home">
        <div class="hero-slider">
          <ul class="slides">
            <li class="bg-dark-30 bg-dark" style="background-image:url(assets/images/section-8.jpg);">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-1">KuRoots</div>
                  <div class="font-alt mb-40 titan-title-size-2">An Ethnic Restaurant Web App</div><a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
                </div>
              </div>
            </li>
            <li class="bg-dark-30 bg-dark" style="background-image:url(assets/images/section-9.jpg);">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-2">The <br/>Telletubies DayCare 
                  </div><a class="btn btn-border-w btn-round" href="about">Learn More</a>
                </div>
              </div>
            </li>
            <li class="bg-dark-30 bg-dark" style="background-image:url(assets/images/section-10.jpg);">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-1">The LM Foundation</div>
                  <div class="font-alt mb-40 titan-title-size-3">Scholarship App</div><a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
{% endblock %}