{% extends "posts/base.html" %}
{% load static %}
{% block content %}
 {% for post in posts %}
 <style>
  .hero {
    background: rgb(224, 210, 210) url("{% static 'images/code1.jpg' %}") center / cover;
  }
  
  @media (max-width: 1024px) { .hero { background: white url("{% static 'images/hero-2.jpg' %}") center / cover; } }
  @media (max-width:  768px) { .hero { background: white url("{% static 'images/hero-3.jpg' %}") center / cover; } }
  
      </style>
    </head>
    <body>
  
   <div class="main">
          <section class="module" id="portfolio">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <ul class="filter font-alt" id="filters">
                    <li><a class="current wow fadeInUp" href="#" data-filter="*">Industrial</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".illustration" data-wow-delay="0.2s">Know Us</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".marketing" data-wow-delay="0.4s">Services</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".photography" data-wow-delay="0.6s">Web Apps</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".webdesign" data-wow-delay="0.6s">Data Solutions</a></li>
                  </ul>
                </div>
              </div>
              <ul class="works-grid works-grid-masonry works-grid-3 works-hover-d" id="works-grid">
                <li class="work-item illustration webdesign"><a href="{% static 'images/glass1.jpg' %}">
                    <div class="work-image"><img src="{% static 'images/glass1.jpg' %}" alt="Portfolio Item"/></div>
                    <div class="work-caption font-alt">
                      <h3 class="work-title">Know Us</h3>
                      <div class="work-descr">Why We Do What We Do</div>
                    </div></a></li>
                <li class="work-item marketing photography"><a href="portfolio_single_featured_image2.html">
                    <div class="work-image"><img src="{% static 'images/glass2.jpg' %}" alt="Portfolio Item"/></div>
                    <div class="work-caption font-alt">
                      <h3 class="work-title">Services</h3>
                      <div class="work-descr">Full App Development and Security</div>
                    </div></a></li>
                  </ul>
                </div>
          </section>
          <section class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="row multi-columns-row post-columns">
                    <div class="post">
                      <div class="post-header font-alt">
                          <div class="media-body">
                              <div class="article-metadata">
                                <h2 class="post-title"><a href="{% url 'posts:post-detail' post.id %}">{{ post.title }}</a></h2>
                                <div class="post-meta"> <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> By&nbsp;<a href="#">{{post.author}}</a>&nbsp;| {{ post.date_posted }}
                              </div>
                            </div>
                          <div class="article-content"><h5>{{ post.content|truncatewords:50|safe }}</h5>
                      </div>
                      <div class="post-more"><a class="more-link" href="{% url 'posts:post-detail' post.id %}">Read more</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
    {% endfor %}

   {% if is_paginated %}

  {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
          
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
       <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
   {% endfor %}
          
  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}
  {% endif %}  
</section>
    {% endblock %}