{% extends "posts/base.html" %}
{% load static %}
{% block content %}
<section class="home-section bg-dark-30" id="home" data-background="{% static 'images/homepage.jpg' %}">
  <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=VrMo5RWEXdY', containment:'.home-section', startAt:30, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
  <div class="video-controls-box">
    <div class="container">
      <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
    </div>
  </div>
  <div class="titan-caption">
    <div class="caption-content">
      <div class="font-alt mb-30 titan-title-size-1">Welcome to The BL Project</div>
      <div class="font-alt mb-40 titan-title-size-3">A Web and Mobile Application Dev Platform</div><a class="section-scroll btn btn-border-w btn-round" href="{% url 'posts:services' %}">Learn More</a>
    </div>
  </div>
</section>
   <div class="main">
          <section class="module" id="portfolio">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <ul class="filter font-alt" id="filters">
                    <li><a class="wow fadeInUp" href="#" data-filter=".illustration" data-wow-delay="0.2s">Know Us</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".marketing" data-wow-delay="0.4s">Services</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".photography" data-wow-delay="0.6s">Web Apps</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".webdesign" data-wow-delay="0.6s">Data Solutions</a></li>
                  </ul>
                </div>
              </div>
              <ul class="works-grid works-grid-masonry works-grid-3 works-hover-d" id="works-grid">
                <li class="work-item illustration webdesign"><a href="{% static 'images/glass1.jpg' %}">
                    <div class="work-image"><img src="{% static 'images/profile1.jpg' %}" alt="Portfolio Item"/></div>
                    <div class="work-caption font-alt">
                      <h3 class="work-title">Know Us</h3>
                      <div class="work-descr">Why We Do What We Do</div>
                    </div></a></li>
                <li class="work-item marketing photography"><a href="portfolio_single_featured_image2.html">
                    <div class="work-image"><img src="{% static 'images/code1.jpg' %}" alt="Portfolio Item"/></div>
                    <div class="work-caption font-alt">
                      <h3 class="work-title">Services</h3>
                      <div class="work-descr">Full App Development and Security</div>
                    </div></a></li>
                <li class="work-item illustration photography"><a href="portfolio_single_featured_slider1.html">
                    <div class="work-image"><img src="{% static 'images/apps.jpg' %}" alt="Portfolio Item"/></div>
                    <div class="work-caption font-alt">
                      <h3 class="work-title">Applications</h3>
                      <div class="work-descr">Interactive and Innovative Apps for All Platforms</div>
                    </div></a></li>               
                  </ul>
                </div>
          </section>
          <hr class="divider-w">
        <section class="module bg-dark-60" data-background="#image">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Analytics</h2>
                <div class="module-subtitle font-serif"></div>
              </div>
            </div>
            <div class="row multi-columns-row">
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-wallet"></span></div>
                  <h3 class="count-to font-alt" data-countto="6"></h3>
                  <h5 class="count-title font-serif">ELK Stack</h5>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-wine"></span></div>
                  <h3 class="count-to font-alt" data-countto="4"></h3>
                  <h5 class="count-title font-serif">Web Apps</h5>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-camera"></span></div>
                  <h3 class="count-to font-alt" data-countto="30"></h3>
                  <h5 class="count-title font-serif">Data Security</h5>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-map-pin"></span></div>
                  <h3 class="count-to font-alt" data-countto="5"></h3>
                  <h5 class="count-title font-serif">All Things Python</h5>
                </div>
              </div>
            </div>
          </div>
        </section>
   {% if is_paginated %}

  {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
          
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
       <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
   {% endfor %}
          
  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}
  {% endif %}  
</section>
    {% endblock %}