{% extends 'posts/base.html' %}
{% load static %}

{% block content %}
<section class="module" id="team">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">The BL Project Team</h2>
          <div class="module-subtitle font-serif">We're a team of diverse developer skills, diverse cultures and diverse product outcomes.</div>
        </div>
      </div>
      <div class="row">
        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
          <div class="team-item">
            <div class="team-image"><img src="assets/images/team-1.jpg" alt="Member Photo"/>
              <div class="team-detail">
                <h5 class="font-alt">Hi</h5>
                <p class="font-serif"></p>
                <div class="team-social"><a href="https://www.facebook.com/lmainja"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
              </div>
            </div>
            <div class="team-descr font-alt">
              <div class="team-name">Dexter Zvicha</div>
              <div class="team-role">Software Director</div>
            </div>
          </div>
        </div>
        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
          <div class="team-item">
            <div class="team-image"><img src="assets/images/team-2.jpg" alt="Member Photo"/>
              <div class="team-detail">
                <h5 class="font-alt">Aloha</h5>
                <p class="font-serif"></p>
                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
              </div>
            </div>
            <div class="team-descr font-alt">
              <div class="team-name">Rebecca Stedman</div>
              <div class="team-role">Accounting Director</div>
            </div>
          </div>
        </div>
        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
          <div class="team-item">
            <div class="team-image"><img src="assets/images/team-3.jpg" alt="Member Photo"/>
              <div class="team-detail">
                <h5 class="font-alt">Hello</h5>
                <p class="font-serif"></p>
                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
              </div>
            </div>
            <div class="team-descr font-alt">
              <div class="team-name">Claudius Mainja</div>
              <div class="team-role">Graphic Designer</div>
            </div>
          </div>
        </div>
        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
          <div class="team-item">
            <div class="team-image"><img src="assets/images/team-4.jpg" alt="Member Photo"/>
              <div class="team-detail">
                <h5 class="font-alt">Howdy</h5>
                <p class="font-serif"></p>
                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
              </div>
            </div>
            <div class="team-descr font-alt">
              <div class="team-name">Monique Wells</div>
              <div class="team-role">Social Media Marketer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}