{% extends "posts/base.html" %}
{% load static %}
{% block content %}
<section class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="row multi-columns-row post-columns">
            <div class="post">
                  <div class="post-header font-alt">
                    <h1 class="post-title">{{ post.title }}</h1>
                    <div class="post-meta">By&nbsp;<a href="#">{{ post.author }}</a>| {{ post.date_posted|date:"F d, Y" }} | 3 Comments | <a href="#">Photography, </a><a href="#">Web Design</a>
                    </div>
                  </div>
                </div>
                  {% if object.author == user %}
                  <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'posts:post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'posts:post-delete' object.id %}">Delete</a>
                  </div>
                {% endif %}
                  <div class="post-entry">
                    <h5>{{ post.content|linebreaks }}<h5/>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
{% endblock content %}