{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
<div class="main">
    <section class="module bg-dark-60 bg-dark pricing-page-header" data-background="assets/images/pricing_bg.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Our Prices</h2>
            <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
          </div>
        </div>
      </div>
    </section>
    <section class="module">
      <div class="container">
        <div class="row multi-columns-row">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="price-table font-alt">
              <h4>Basic</h4>
              <div class="borderline"></div>
              <p class="price"><span>$</span>200+
              </p>
              <ul class="price-details">
                <li>5-10 Pages</li>
                <li>Blogs & Landing Pages</li>
                <li>User Accounts</li>
                <li><span>Social Platform Integration</span></li>
                <li><span></span></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="price-table font-alt best">
              <h4>Advanced</h4>
              <div class="borderline"></div>
              <p class="price"><span>$</span>1,000+
              </p>
              <ul class="price-details">
                <li>10+ Pages</li>
                <li>CMS, Full Customization</li>
                <li>Admin Support</li>
                <li>Social Media Integration</li>
                <li><span>Managed Hosting</span></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="price-table font-alt">
              <h4>Ultimate</h4>
              <div class="borderline"></div>
              <p class="price"><span>$</span>10,000+
              </p>
              <ul class="price-details">
                <li>Unlimited Pages</li>
                <li>Customized</li>
                <li>Admin Analytics</li>
                <li>Security</li>
                <li>Unlimited Support</li>
              </ul>
          </div>
        </div>
        <div class="row mt-40">
          <div class="col-sm-6 col-sm-offset-3 align-center">
            <p>There are no got ya prices at The BL Project. We're proud of our services. Thus, we make it clear how much it takes to do business with us.</p>
          </div>
        </div>
      </div>
    </section>
   </div>
{% endblock %}