{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
    <section class="module" id="alt-features">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-strategy"></span></div>
              <h3 class="alt-features-title font-alt">Web App Development</h3>Fast, interactive and highly scalable web applications built using popular frameworks for speed and security. 
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-tools-2"></span></div>
              <h3 class="alt-features-title font-alt">Graphic Design</h3>Interfaces, Logos, posters, clothing, menus, we have experienced and dedicated designers proud of their work and ready to serve.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-target"></span></div>
              <h3 class="alt-features-title font-alt">Search Engine Marketing</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-tools"></span></div>
              <h3 class="alt-features-title font-alt">Data Solutions</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
          </div>
          <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
            <div class="alt-services-image align-center"><img src="assets/images/promo.png" alt="Feature Image"></div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-camera"></span></div>
              <h3 class="alt-features-title font-alt">Photography</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-mobile"></span></div>
              <h3 class="alt-features-title font-alt">Mobile Apps</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-linegraph"></span></div>
              <h3 class="alt-features-title font-alt">SEO</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-basket"></span></div>
              <h3 class="alt-features-title font-alt">Ideas</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="module-small bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
            <div class="callout-text font-alt">
              <h3 class="callout-title">Want to see more works?</h3>
              <p>We are always open to interesting projects.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="callout-btn-box"><a class="btn btn-w btn-round" href="portfolio_boxed_gutter_col_3.html">Have a look at our portfolio</a></div>
          </div>
        </div>
      </div>
    </section>
    </div>
{% endblock %}