{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
<section class="home-section bg-dark-30" id="home" data-background="{% static 'images/homepage.jpg' %}">
  <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=VrMo5RWEXdY', containment:'.home-section', startAt:30, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
  <div class="video-controls-box">
    <div class="container">
      <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
    </div>
  </div>
  <div class="titan-caption">
    <div class="caption-content">
      <div class="font-alt mb-30 titan-title-size-1">The BLP Services</div>
      <div class="font-alt mb-40 titan-title-size-2">Applications and Data Solutions</div><a class="section-scroll btn btn-border-w btn-circle" href="{% url 'posts:services' %}">Learn More</a>
    </div>
  </div>
</section>
    <section class="module" id="alt-features">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-strategy"></span></div>
              <h3 class="alt-features-title font-alt">Web Applications</h3>Fast, interactive and highly scalable web applications built using popular frameworks for speed and security. 
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-tools-2"></span></div>
              <h3 class="alt-features-title font-alt">Graphic Design</h3>Interfaces, Logos, posters, clothing, menus. We have experienced and dedicated designers proud of their work and ready to serve.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-target"></span></div>
              <h3 class="alt-features-title font-alt">Search Engine Marketing</h3>Increase your webiste visibility and attract more customers to your business.</div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-tools"></span></div>
              <h3 class="alt-features-title font-alt">Data Solutions</h3>Make data driven decisions and get an edge in a highly competitive global market.</div>
          </div>
          <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
            <div class="alt-services-image align-center"><img src="{% static 'images/webapps.jpg' %}" alt="Feature Image"></div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-camera"></span></div>
              <h3 class="alt-features-title font-alt">Mobile Applications</h3>We create applications that make business convinient and client interaction easier.</div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-mobile"></span></div>
              <h3 class="alt-features-title font-alt">Technical Writing</h3>We also have a team of IT content creators. Our developers enjoy sharing their insight through blogs and website content.</div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-linegraph"></span></div>
              <h3 class="alt-features-title font-alt">SEO</h3>Get the clicks you desire and grow your business beyond the local market. 
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon"><span class="icon-basket"></span></div>
              <h3 class="alt-features-title font-alt">Ideas</h3>We are in the business of disruptive ideas. We welcome new ideas as well as come up with our own. 
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="module-small bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
            <div class="callout-text font-alt">
              <h3 class="callout-title">Want to see more works?</h3>
              <p>We are always open to interesting projects.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="callout-btn-box"><a class="btn btn-w btn-circle" href="{% url 'posts:coming' %}">Have a look at our portfolio</a></div>
          </div>
        </div>
      </div>
    </section>
    </div>
{% endblock %}